.navbar {
    background-color: #3e5d74;
}

.navbarContainer {
    flex-direction: row-reverse;
    justify-content: space-between;
}

.navbarLogoContainer {
    order: 1;
    margin-right: 0px;
}

.navbarLogoContainer img {
    width: 110px;
}

.navLink {
    font-weight: bold;
    text-align: center;
    color: white;
}

.navLink:hover {
    color:  #000080ab;
}

.languageButtonsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.languageButtonsContainer p {
    margin-bottom: 0px;
    margin-left: 5px;
    color: white;
}

.languageButtonsContainer button {
    margin: 6px;
    background-color: transparent;
    border: transparent;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.languageButtonsContainer button:hover {
    background-color: #25A7BF;
    border-radius: 20px;
    color: white;
}

.languageButtonsContainer button img {
    width: 25px;
    height: 20px;
    border-radius: 50%;
}

@media screen and (min-width: 991px) {
    .navbarLogoContainer {
        margin-right: 50px;
    }
}

@media screen and (max-width: 991px) {
    .navbarLogoContainer {
        order: unset;
    }
    .languageButtonsContainer p {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .navLink {
        font-size: 15px;
    }
    .navbar-toggle-icon {
        width: 20px;
    }
    .languageButtonsContainer button{
        margin: 0px;
    }
}

@media screen and (max-width: 375px) {
    .navLink {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    .navLink {
        font-size: 12px;
    }
    .languageButtonsContainer button img {
        width: 20px;
        height: 15px;
    }
}